<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 px-3 py-3 mt-3 text-white bg-info">
            <div class="container">
                    <form class="form" #pay=ngForm (ngSubmit)=payment(pay.value)>
                        <h1 class="text-center">Make your payment</h1>
                            <div class="form-group">
                                    <label for="doctor name">Doctor name</label>
                                    <input type="text" name="name" id="name" class="form-control" ngModel>
                            </div>
                            <div class="form-group">
                                    <label for="address">address</label>
                                    <input type="text" name="address" id="address" class="form-control" ngModel>
                            </div>
                            <div class="form-group">
                                    <label for="amount">amount</label>
                                    <input type="number" name="amount" id="amount" class="form-control" ngModel>
                            </div>
                            <div class="form-group">
                                    <label for="date">date</label>
                                    <input type="date" name="date" id="date" class="form-control" ngModel>
                            </div>
                            <div class="form-group">
                                    <label for="code">IFSC code</label>
                                    <input type="text" name="ifsccode" id="code" class="form-control" ngModel>
                            </div>
                            <div class="form-group">
                                    <label for="account">account number</label>
                                    <input type="text" name="accountnumber" id="account" class="form-control" ngModel>
                            </div>
                            <div class="form-group text-center">
                                    <button type="submit" class="btn btn-primary text-center">pay</button>
                            </div>
                
                    </form>
                    </div>
    </div>
    <div class="col-sm-3"></div>
    </div>
    