
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 my-3 ">
        <div>
         
            <div class="container bg-info py-3" >
                <h3 class=" text-center">Login Form</h3>
                    <form class="form" #ref=ngForm (ngSubmit)="submit(ref.value)">
                        
                                <div class="form-check">   
                                        <label for="loginusertype" class="form-check-label">
                                                <input type="radio" name="usertype" id="loginusertype" value="patient" class="form-check-input" ngModel>
                                        Patient</label>
                                        
                                    </div>
                                    <div class="form-check">   
                                            <label for="loginusertype1" class="form-check-label">
                                            <input type="radio" name="usertype" id="loginusertype1" value="doctor" class="form-check-input" ngModel>
                                            Doctor</label>
                                         
                                            
                                        </div>
                                        <br>
                        <div class="form-group">
                            <label for="loginname" ><h5>UserName</h5></label>
                            
                                     
                            <input type="text" name="name" class="form-control" #refname="ngModel" required minlength="5" ngModel id="loginname" placeholder="enter your login name">
                            <div *ngIf="refname.invalid&&(refname.dirty||refname.touched)" class="text-danger">
                                    
                                    <div *ngIf="refname.errors.minlength">
                                        <p>*Name must be atleast 5 chars long</p>
                                    </div>
                                   
                                </div>
                        </div>
                        <div class="form-group">
                            <label for="loginpassword"><h5>Password</h5></label>
                            <p class="text-danger">**Password is Required</p>
                            <input type="password" name="password" class="form-control"  #refname="ngModel" required minlength="4" ngModel id="loginpassword" placeholder="enter your password">
                            <div *ngIf="refname.invalid&&(refname.dirty||refname.touched)" class="text-danger">
                                   
                                    <div *ngIf="refname.errors.minlength">
                                        <p>*Password must be atleast 4 chars long</p>
                                    </div>
                                </div>
                        </div>
                        
                                
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-secondary">Login</button>
                        </div>        
                        <h6 class="text-center text-danger" *ngIf="loginDetails">{{loginDetails}}</h6>    
                    </form>
                   
                </div>
        
    </div>
    <div class="col-sm-4"></div>
    </div>