<div>
    <!-- A grey horizontal navbar that becomes vertical on small screens -->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
       <!-- Toggler/collapsibe Button -->
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
            
      <a class="navbar-brand" routerLink="home">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8ZdPsBK8DiofcifeoY5YbkfEjzK7BHJSkUnw3eypEt4qUZT8T" alt="Logo" style="width:60px;height: 40px;"><label class="text-white pl-2 h3"><head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <style>
            body {
              background-color: black;
              font-family: cursive;
            }
            
            .glow {
              font-size: 25px;
              color: #fff;
              text-align: center;
              -webkit-animation: glow 1s ease-in-out infinite alternate;
              -moz-animation: glow 1s ease-in-out infinite alternate;
              animation: glow 1s ease-in-out infinite alternate;
            }
            
            @-webkit-keyframes glow {
              from {
                text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
              }
              
              to {
                text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
              }
            }
            </style>
            </head>
            <body>
            
            <h5 class="glow">Doctor Appointment</h5>
                 
            </body></label>
      </a>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a routerLink="home" class="nav-link text-white">Home</a>
      </li>
      <li class="nav-item">
        <a routerLink="doctors" class="nav-link text-white">Doctors</a>
      </li>
      <li class="nav-item">
        <a routerLink="aboutus" class="nav-link text-white">About Us</a>
      </li>
      <li class="nav-item">
          <a routerLink="contactus" class="nav-link text-white">Contact Us</a>
        </li>
     
      <li class="nav-item">
        <a routerLink="register" class="nav-link btn btn-info">
          <i class="fa fa-sign-in" style="margin-right: 10px;"></i>Register
        </a>
      </li>
      <li class="nav-item">
          <a routerLink="login" class="nav-link btn btn-info ml-3">
            <i class="fa fa-lock" style="margin-right: 10px;"></i>Login
          </a>
        </li>
      
      
    </ul>
  </div>
  </nav>
  <router-outlet></router-outlet>
    </div>
  
  
