<div class="container-fluid">
    <div id="d" class="carousel slide" data-ride="carousel">
    
            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#d" data-slide-to="0" class="active bg-dark"></li>
              <li data-target="#d" data-slide-to="1" class="bg-dark"></li>
              <li data-target="#d" data-slide-to="2" class="bg-dark"></li>
              <li data-target="#d" data-slide-to="3" class="bg-dark"></li>
              <li data-target="#d" data-slide-to="4" class="bg-dark"></li>
              <li data-target="#d" data-slide-to="5" class="bg-dark"></li>
            </ul>
          
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://wallpaperplay.com/walls/full/1/2/9/13978.jpg" style="width:100%"  alt="doctors">
              </div>
              <div class="carousel-item">
                <img src="http://getwallpapers.com/wallpaper/full/d/7/8/302180.jpg" style="width:100%"  alt="doctors">
                <div class="carousel-caption">
                        <h2>BETTER TECHNOLOGY</h2>
                        <h4>we are providing a good infrastructure and quite atmosphere for patients.</h4>
                </div>
              </div>
              <div class="carousel-item">
                <img src="https://previews.123rf.com/images/kotexvector/kotexvector1809/kotexvector180900113/109683200-abstract-health-medical-science-healthcare-icon-digital-technology-doctor-concept-modern-innovation-.jpg"style="width: 100%"  alt="doctors">
                <div class="carousel-caption"> 
                    <h2>EMERGENCY SERVICES</h2>
                    <h4>we are providing good facilities for emergency services we will take care of u, we are providing 24/7 services.</h4>    
                    </div>
              </div>
              
              <div class="carousel-item">
                    <img src="https://ak3.picdn.net/shutterstock/videos/10779833/thumb/1.jpg"  alt="doctors" style="width:100%">
                    <div class="carousel-caption">
                    </div>
              </div>
              <div class="carousel-item">
                 <img src="assets/images/slide2.jpg" style="width:100%"   alt="doctors">
                 <div class="carousel-caption">
                     <h2>HEART SPECIALIST </h2>
                     <h4>we provide the best facilities, we are having a  Famous senior experienced Heart Sergeons</h4>
                 </div>
              </div>
            </div>
          
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#d" data-slide="prev">
              <span class="carousel-control-prev-icon bg-dark"></span>
            </a>
            <a class="carousel-control-next" href="#d" data-slide="next">
              <span class="carousel-control-next-icon bg-dark"></span>
            </a>
          
          </div>
          <br/>
          <br/>
          <div class="row">
              <div class="col-sm-6">
                  <h3 class="text-warning">About Us</h3>
                  Patients at hospitals receive personalized care and treatment from doctors and staff who take time to get to know them. Here, under one umbrella are expert medical consultants, certified medical staff, skilled surgeons, state-of-the-art technology and facilities, as well as support groups, and social workers – all dedicated to treatment and recovery of the patients.

                            Above all, we are attentive to all the needs and comforts of the patient. We have an aggressive approach balancing our treatment strategies with careful monitoring of our patient’s overall health and well-being.
                            
                            Drawing on the strength of our community setting, patients benefit from our focused, custom-made care. A greater level of personal attention is afforded to each patient, and their individual needs are met with much thought and careful consideration.
              </div>
              <div class="col-sm-3"><img src="https://wallpapercave.com/wp/wp2469729.jpg" width="300px" height="300px"></div>
              <div class="col-sm-3"></div>
          </div>
          <br/>
          <br/>
          <br/>
          <h1 class=" text-center text-primary">Why Choose Us</h1>
          <h4 class=" text-center">We Provide Best Services For Patient</h4>
          <div class="card-deck">
              <div class="card">
                  <div class="card-body text-center">
                      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTjCF0ik1eRnY3PAmEEU3m-czyQjvPcef6BFMZ84YpsUqHQn7k" height="75px" width="75px">
                      <h4 class="text-success">Certified Doctors</h4>
                      <h6>we are having an extradionary heart sergons,they treat  patients very well </h6>
                  </div>
              </div>
              <div class="card">
                    <div class="card-body text-center">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS64-Nhj3cZAyRjjtpzvZx6N1WLIBZyQJ0ov0H-V-YA-TKtF6vZ"height="75px" width="75px" >
                            <h4 class="text-warning">24/7 Availability</h4>
                            <h6>we are providing 24 hours facility</h6>
                    </div>
                </div>
              <div class="card">
                    <div class="card-body text-center">
                        <img src="https://d.newsweek.com/en/full/1031209/doctor-cover.jpg?w=737&f=90ff979f72a6aa438e12e0c5b2601f07"height="75px" width="75px" >
                        <h4 class="text-danger">All Specilized Doctors</h4>
                        <h6>we have an extradionary nuero sergons,we cure major diseases in easily and we treat patients good</h6>
                    </div>
                </div>
              
          </div>
    </div>
    <div class="card mt-5" style="background-image: url('https://thumbs.dreamstime.com/b/vector-medical-health-care-icon-concept-background-eps-55398920.jpg')">
        <div class="card-footer">
          <div class="col-md-6">
            <div class="container">
                <h1 class="text-info">Diverse people.<br>
                One purpose.</h1>
                <p class="text-secondary">We are dreamers, thinkers and do-ers rolled into one.Together, we want to improve the healthcare experience for all humanity. We are guided by our values and driven by our motto to do great. These are not just principles for our products or our company, but they are a reflection of who we are as people.</p>
            </div>
        </div>
        <div class="col-md-6">
    
        </div> 
       
           
        </div>
    </div>
    <hr/>
    <h6 class="text-center text-dark">Copyrights 2019 © Praveen Varma</h6>
          